<dir class="container content">
  <dir class="row">
    <dir class="col-sm podatki">
      <dir class="ime">
        <h1>Tilen Miklavič</h1>
      </dir>
      <dir class="opis">
        <h4>Student</h4>
      </dir>  
      <dir class="email">
        <a href="mailto:tilen.miklavic@gmail.com"><i class="fas fa-envelope"></i> tilen.miklavic@gmail.com</a>
      </dir>   
      <dir class="school">
        <a href="https://www.fri.uni-lj.si/sl"><i class="fas fa-school"></i> University of Ljubljana</a>
      </dir> 
      <dir class="links">
        <a href="https://www.linkedin.com/in/tilen-miklavic-95708171/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/tilenmiklavic"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/tilen_miklavic/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/tilenmiklavic"><i class="fab fa-youtube"></i></a>
      </dir>
    </dir>
    <dir class="col-sm">
      <div class="imageContainer">
        <img src="../../assets/images/avatar.png" alt="avatar" class="avatarImage">
      </div>
    </dir>
  </dir>
</dir>