a {
  text-decoration: none;
  color: inherit;
}

.links {
  padding-left: 4em;
  padding-top: 1em;
}

.links > a {
  margin: 1em;
}

.links > a > i {
  font-size: 1.5em;
}

.avatarImage {
  width: 300px;
  border-radius: 50%;
  border: 15px solid var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: var(--avatar-background);
}

.avatarProgrammingImage {
  width: 400px;
}

.content {
  padding-top: 4em;
}

.skills {
  margin-top: 5em;
}

.competence {
  margin-bottom: 2em;
  margin-top: 2em;
}

.competences {
  font-size: 1.5em;
}

.skill {
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block;
  color: white;
  background-color:#74BADF;
  font-size: 0.75em;
  transition-duration: .3s;
}

.skill > img {
  width: 1em;
  filter: invert(1);
}

.skill:hover {
  transform: scale(1.2);
  background-color: #1da8f3;
  box-shadow: 1px 1px 3px 3px var(--shadow-color);
}

.skillIcon {
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  /* CSS goes here */
  .content {
    padding-top: 2em;
  }

  .ime, .opis, .email, .school, .skills {
    padding-left: 0px;
  }

  .links {
    padding-left: 3.5em;
  }

  .podatki {
    padding-left: 0;
  }

  .avatarProgrammingImage {
    width: 300px;
  }

  .competence, .competences {
    margin-left: 1em;
  }
}