.image {
  width: inherit;
  margin: 1em 0em 1em;
}

.header {
  padding: 40px;
}

.title {
  font-size: 90px;
}

.subtitle {
  font-size: large;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  /* CSS goes here */
  .title {
    font-size: 2.8em;
  }

  .subtitle {
    margin: 0;
    font-size:medium;
  }
}