.title {
  margin-top: 0px;
  font-size: 25em;
}

.subtitle {
  margin-left: 5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 30px;
}

.wave:hover {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(10.0deg) }
   40% { transform: rotate( 0.0deg) }
   50% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@media (max-width: 767px) {
  /* CSS goes here */
  .title {
    font-size: 8em;
    margin-top: 1em;
  }

  .subtitle {
    margin: 0;
  }
}