<div class="d-flex justify-content-center container main">
  <div class="row">
    <div class="col">
      <div class="title">
        Hello
      </div>
      <div class="subtitle">
        I'm Tilen <img src="../../assets/icons/waving-hand.svg" class="icon">, my interest is mostly picked by <a href="https://github.com/tilenmiklavic"><i class="fas fa-laptop-code"></i></a> and <a href="https://www.instagram.com/tilen_miklavic/"><i class="fas fa-camera-retro"></i></a>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4" style="background-color: rgb(236, 180, 72);">
      <div class="blok">
        <h4>
          01
        </h4>
        <p>
          Moje delo z računalniki
          <a href="https://github.com/tilenmiklavic" ><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4" style="background-color: rgb(236, 129, 103);">
      <div class="blok">
        <h4>
          02
        </h4>
        <p>
          <a href="/portfolio">Fotografski portfolio </a> 
          <i class="fab fa-instagram"></i>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4" style="background-color: rgb(175, 199, 208);">
      <div class="blok">
        <h4>
          03
        </h4>
        <p>
          <a href="/about">A te zanima več o meni</a>
        </p>
      </div>
    </div>
  </div>
</div> -->
