<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4" style="background-color: rgb(236, 180, 72);">
      <div class="blok">
        <h4>
          01
        </h4>
        <p>
          Moje delo z računalniki
          <a href="https://github.com/tilenmiklavic" ><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4" style="background-color: rgb(236, 129, 103);">
      <div class="blok">
        <h4>
          02
        </h4>
        <p>
          <a href="/portfolio">Fotografski portfolio </a> 
          <i class="fab fa-instagram"></i>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4" style="background-color: rgb(175, 199, 208);">
      <div class="blok">
        <h4>
          03
        </h4>
        <p>
          <a href="/about">A te zanima več o meni</a>
        </p>
      </div>
    </div>
  </div>
</div>
