.title {
  margin-top: 0px;
  font-size: 25em;
}

.subtitle {
  margin-left: 5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 30px;
}

@media (max-width: 767px) {
  /* CSS goes here */
  .title {
    font-size: 8em;
    margin-top: 1em;
  }

  .subtitle {
    margin: 0;
  }
}