/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 20em;
  --primary-color: #FFFFFF;
  --secondary-color: #D7D7D7;
  --avatar-background: #FFFFFF;
  --shadow-color: #929191;
}

body.dark-theme {
  color: #eee;
  background: #171E24;
  --primary-color: #171E24;
  --secondary-color: #2d4052;
  --avatar-background: #325161;
  --shadow-color: #2e2e2e;
}

body.dark-theme  footer {
  background: var(--secondary-color);
}


html * {
  font-family: 'Roboto Mono', monospace;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: 100px;
}

@media (max-width: 767px) {
  /* CSS goes here */
  footer {
    margin-top: 50px;
  }

  body {
    padding-bottom: 10em;
  }
}